#ingredients-grouped-by-type {
  display: inline-block;
  width: 25%;
}

#recipes {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

body {
  background-color: rgb(240, 243, 255);
  color: rgb(45, 48, 49);
  font-family: Helvetica, Verdana, sans-serif;
  margin: 2em;
}